<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="script" type="text/javascript" href="{{ url_for('static', filename='script.js') }}"/>
    <title>{% block title %}{% endblock %} - Daser</title>
    {% endblock %}
</head>
<body>
<div id="header">
    {% block header %}
    <header>
        <h1>
            Daser
        </h1>
        <form action="" method="POST">
            <input class="btn btn-default" type="submit" name="but" value="Feed">
            <input class="btn btn-default" type="submit" name="but" value="Profile">
            <input class="btn btn-default" type="submit" name="but" value="Leaders">
        </form>


    </header>
    {% endblock %}
</div>


<div id="content">{% block content %}{% endblock %}</div>

</body>
</html>