<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="script" type="text/javascript" href="{{ url_for('static', filename='script.js') }}"/>
    <title>{% block title %}{% endblock %} - Daser</title>
    {% endblock %}
</head>
<body>
<div id="header">
    {% block header %}
    <h1>
        Daser
    </h1>
    {% endblock %}
</div>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
    &copy; Copyright 2018 by Eric Jeff Vitunac
    {% endblock %}
</div>
</body>
</html>