{% extends "header2.html" %}
{% block title %}News Feed{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div id="feed_table">
    <div id="left_col">
        <div id="profile-left-top">
            <form id="enter-feed">
                <input type="text" name="new-message">
            </form>
        </div>
        <div id="profile-left-bot">
            <h2>{{ name }}</h2>
            {% for m in meeds %}
            <p><b>{{ m.user_name }}</b> : {{ m.text }}</p>
            <a>{{ m.time }}</a>
            {% endfor %}
        </div>
    </div>
    <div id="right_col">
        <h2>Feed</h2>
        {% for f in feeds %}
        <p><b>{{ f.user_name }}</b> : {{ f.text }}</p>
        <a>{{ f.time }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}