h1 {
    color: blueviolet;
}

body {
    background-color: darkslategray;
}

#header {
    height: 10%;
    width: 100%;
    background-color: darkseagreen;
}

#content {
    align-content: baseline;
    height: 80%;
    width: 100%;
    background-color: aliceblue;
}

#footer {
    padding: 0;
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: antiquewhite;
}