h1 {
    color: blueviolet;
}

#header {
    align-content: center;
    height: 10%;
    width: 100%;
    background-color: darkseagreen;
}

#footer {
    height: 10%;
    width: 100%;
    background-color: antiquewhite;
}

#content {
    align-content: baseline;
    height: 80%;
    width: 100%;
    background-color: aliceblue;
}