h1 {
    color: ghostwhite;
}

form {
    color: ghostwhite;
}

body {
    background-color: mediumslateblue;
}

#header {
    height: 10%;
    width: 100%;
    background-color: darkorange;
}

#content {
    height: 80%;
    width: 100%;
    background-color: coral;
}

