h1 {
    pt: 33
}

#header {
    height: 10%;
    width: 100%;
    background-color: darkseagreen;
}

#footer {
    height: 10%;
    width: 100%;
    background-color: antiquewhite;
}

#content {
    height: 80%;
    width: 100%;
    background-color: aliceblue;
}